// https://coolors.co/b19bc0-d897b8-6dc570-6bc77d-ff8547-eca009-0a1e33
$color1:rgb(177, 155, 192);
$color2: rgb(216, 151, 184);
$color3:rgb(109, 197, 112);
$color4:rgb(107, 199, 125);
$color5:rgb(255, 133, 71);
$color6:rgb(236, 160, 9);
$color7:rgb(10, 30, 51);


$backgroundColor:$color1;
$info: $color2;
$primary:$color3;
$success:$color4;
$warning:$color5;
$danger:$color6;
$textColor:$color7;