// https://coolors.co/000000-0c033a-02013c-22211c-221b1b-350e09-ffffff
$color1:rgb(0, 0, 0);
$color2: rgb(12, 3, 58);
$color3:rgb(2, 1, 60);
$color4:rgb(34, 33, 28);
$color5:rgb(34, 27, 27);
$color6:rgb(53, 14, 9);
$color7:rgb(255, 255, 255);


$backgroundColor:$color1;
$info: $color2;
$primary:$color3;
$success:$color4;
$warning:$color5;
$danger:$color6;
$textColor:$color7;