// https://coolors.co
$color1:rgb(30, 30, 30);
$color2: rgb(60, 60, 60);
$color3:rgb(90, 90, 90);
$color4:rgb(120, 120, 120);
$color5:rgb(150, 150, 150);
$color6:rgb(180, 180, 180);
$color7:rgb(240, 240, 240);


$backgroundColor:$color1;
$info: $color2;
$primary:$color3;
$success:$color4;
$warning:$color5;
$danger:$color6;
$textColor:$color7;