$color1: rgb(34, 9, 1);
$color2: rgb(98, 23, 8);
$color3:rgb(148, 27, 12);
$color4:rgb(188, 57, 8);
$color5:rgb(246, 170, 28);

$info: $color1;
$primary:$color2;
$success:$color3;
$warning:$color4;
$danger:$color5;